In [5]:

import pandas as pd

# Step 1: Load the Excel file
file_path = "Mobile Sales Data.xlsx"  # Make sure this file is in your working directory
df = pd.read_excel(file_path, sheet_name="Sheet1")

# Step 2: Check and display missing values
print("Missing values in each column:")
print(df.isnull().sum())

# Step 3: Remove duplicate rows and show shape before and after
print("\nShape before removing duplicates:", df.shape)
df = df.drop_duplicates()
print("Shape after removing duplicates:", df.shape)

# Step 4: Clean and standardize column headers
df.columns = (
    df.columns
    .str.strip()         # Remove leading/trailing whitespace
    .str.lower()         # Convert all column names to lowercase
    .str.replace(" ", "_")  # Replace spaces with underscores
)

print("\nCleaned column names:")
print(df.columns.tolist())

# Step 5: Standardize text values (title-case and trim spaces)
df['brand'] = df['brand'].str.strip().str.title()
df['city'] = df['city'].str.strip().str.title()
df['payment_method'] = df['payment_method'].str.strip().str.title()

print("\nSample standardized text columns:")
print(df[['brand', 'city', 'payment_method']].head())

# Step 6: Create a single date column from day, month, and year
df['date'] = pd.to_datetime(df[['year', 'month', 'day']], dayfirst=True)

# Step 7: Ensure correct data types
df['customer_age'] = df['customer_age'].astype(int)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

# Step 8: Reorder columns (optional, for better readability)
ordered_columns = ['date'] + [col for col in df.columns if col != 'date']
df = df[ordered_columns]

# Step 9: Display final structure and sample data
print("\nFinal Data Types:")
print(df.dtypes)

print("\nSample cleaned data:")
print(df.head())

# Step 10: Export cleaned data to a new Excel file
output_path = "Cleaned_Mobile_Sales_Data.xlsx"
df.to_excel(output_path, index=False)
print(f"\nData cleaning complete. File saved as: {output_path}")

Missing values in each column:
Transaction ID      0
Day                 0
Month               0
Year                0
Day Name            0
Brand               0
Units Sold          0
Price Per Unit      0
Customer Name       0
Customer Age        0
City                0
Payment Method      0
Customer Ratings    0
Mobile Model        0
dtype: int64

Shape before removing duplicates: (3835, 14)
Shape after removing duplicates: (3835, 14)

Cleaned column names:
['transaction_id', 'day', 'month', 'year', 'day_name', 'brand', 'units_sold', 'price_per_unit', 'customer_name', 'customer_age', 'city', 'payment_method', 'customer_ratings', 'mobile_model']

Sample standardized text columns:
     brand       city payment_method
0   Xiaomi   Ludhiana            Upi
1     Vivo      Delhi    Credit Card
2     Vivo     Mumbai            Upi
3   Xiaomi     Mumbai    Credit Card
4  Oneplus  Gorakhpur           Cash

Final Data Types:
date                datetime64[ns]
transaction_id               int64
day                          int64
month                        int64
year                         int64
day_name                    object
brand                       object
units_sold                   int64
price_per_unit             float64
customer_name               object
customer_age                 int64
city                        object
payment_method              object
customer_ratings             int64
mobile_model                object
dtype: object

Sample cleaned data:
        date  transaction_id  day  month  year  day_name    brand  units_sold  \
0 2021-10-09               1    9     10  2021       Sat   Xiaomi           6
1 2021-10-09               2    9     10  2021  Saturday     Vivo           6
2 2021-10-09               3    9     10  2021  Saturday     Vivo           8
3 2021-10-10               4   10     10  2021    Sunday   Xiaomi           5
4 2021-10-10               5   10     10  2021    Sunday  Oneplus           3

   price_per_unit     customer_name  customer_age       city payment_method  \
0        10174.70      Lalita Ahuja            38   Ludhiana            Upi
1        10565.19      Sneha Sharma            37      Delhi    Credit Card
2        58527.58  Radha Srivastava            40     Mumbai            Upi
3        25563.98     Bhavana Arora            21     Mumbai    Credit Card
4        48168.02       Sneha Mehta            38  Gorakhpur           Cash

   customer_ratings   mobile_model
0                 5  Redmi Note 10
1                 3       Vivo Y51
2                 5        Vivo S1
3                 4          Mi 11
4                 5      OnePlus 9

Data cleaning complete. File saved as: Cleaned_Mobile_Sales_Data.xlsx